<!--
  <input 
    #input 
    (keyup.enter)="selectPokemon(input.value)"
    type="number"
  />
  <p *ngIf="pokemonSelected">Vous avez sélectionné le pokémon : {{pokemonSelected?.name}}</p>
  <p *ngIf="!pokemonSelected">Aucun pokemon n'a été trouvé</p>
-->

<div class="container">
    <div class="row">
      <app-search-pokemon></app-search-pokemon>
      <div *ngFor="let pokemon of pokemonList" class="col m4 s6"> <!--m : écran (ici 3 pokemeon par ligne)  / moyen s : petit écran (ici 2 pokemeon par ligne)-->
        <div class="card horizontal" pkmnBorderCard (click)="goToPokemon(pokemon.id)">
          <div class="card-image">
            <img [src]="pokemon.picture">
          </div>
          <div class="card-stacked">
            <div class="card-content">
              <p>{{pokemon.name}}</p>
              <p><small>{{pokemon.created | date : "dd/mm/YYYY"}}</small></p>
              <span *ngFor = "let type of pokemon.types" class="{{type | pokemonTypeColor}}">{{type}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<a 
  class="btn-floating btn-large waves-effect waves-light red z-deptb-3s"
  style="position:fixed; bottom:25px; right:25px"
  routerLink="/pokemon/add"
>+</a> 